<footer class="footer">
	<div class="footer-content">
		<p class="copyright">Copyright &copy 2024 F.E.Evans. All Rights Reserved.</p>
		<ul class="footer-list">
			<li><a class="vfb-link" href="/accessibility-statement">Accessibility statement</a></li>
		</ul>
	</div>
</footer>
