	<header>
		<section class="section-history" id="section-history">
      <div class="navbar-wrapper" id="navbar-wrapper">
        <nav class="navbar" id="navbar">
          <div>
            <img class="logo-image" src="images/vfb_logo.webp" alt="View from Blackpool logo, featuring a white tower on a blue background, with a silhouetted dog and cat in front and green leaves sprouting from the top of the tower">
          </div>
          <ul class="nav-list" id="menu-list">
            <li class="nav-list-item">
              <a href="/lagom-journey" class="vfb-link nav-link " id="lagom-menu-link">
	              Lagom journey
              </a>
            </li>
            <li class="nav-list-item">
              <a href="/pet-adventures" class="vfb-link nav-link" id="hamsterdays-menu-link">
	              Pet adventures
              </a>
            </li>
            <li class="nav-list-item">
              <a href="/our-town" class="vfb-link nav-link" id="our-town-menu-link">
	              Our town
              </a>
            </li>
	          <li class="nav-list-item">
		          <a href="/about-us" class="vfb-link nav-link">
			          About us
		          </a>
	          </li>
          </ul>
        </nav>
      </div>
      <div class="banner" id="landing-page-banner">
        <h1 class="banner-heading" id="landing-page-heading">View From Blackpool</h1>
      </div>
	  </section>
	</header>
